/*----- Fonts -----*/
@font-face {
  font-family: 'Hussar Woodtype';
  /*src: url("../fonts/hussarwoodtypeultra.otf") format("opentype");*/
  src: url("../fonts/hussarwoodtypeultraobl.otf") format("opentype");
}

@font-face {
  font-family: 'Brown Std';
  src: url('../fonts/BrownStd-Regular.otf') format('opentype');
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1680px;
  margin: auto;
  /*letter-spacing: 1px;*/
}



/*------ Nav & Top-Span ------*/
.sticky-top {
  background-color: #791F62;
}

.nav-title {
  padding-top: 15px;
  font-family: "Futura-Bold", sans-serif;
  font-size: 1.3rem;

}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}

.top-span {
  color: #D39328;
  font-family: "Futura-Bold", sans-serif;
  font-size: 1.2rem;
  margin-left:30px;
  padding-top: 15px;
  margin-bottom: -5px;
}

.navbar-light .navbar-toggler {
  color: #D39328;
  border-color: #D39328;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(211, 147, 40, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #D39328;
} 

.nav-link {
  border-right: 3px solid #D39328;
  font-family: "Futura-Bold", sans-serif;
  color: #D39328 !important;
}

.nav-link:hover {
  background-color: white;
}

/*----- Nav Btn -----*/
.register-btn {
    color: white;
    background-color: #C39BBC;
    font-family: "Futura-Bold", sans-serif;
    border: 3px solid white;
}

.btn-success.btn-outline-success:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #D39328;
}

.register-btn:hover {
  color: white;
  background-color: green;
  border-color: white;
}

/*----- Hero Component -----*/
.hero-container {
  background: url('../img/heroImage.png') no-repeat;
  background-size: cover;
  /*border-bottom: 5px solid #D39328;*/
}

.hero-img {
  opacity: 0.0;
}

/*----- Section Headers -----*/
.section-header {
  font-size: 1.5rem;
  color: navy;
  font-family: "Futura-Bold", sans-serif;
}

/*li > a{
  color: navy;
}
*/
/*----- Races -----*/
.race-heading {
  padding-left: 3%;
  background-color: rgb(142,167,202);
  font-family: "Futura-Bold", sans-serif;
  font-size: 3.5rem;
  margin-bottom: 5px;
}

.race-content {
  margin: 2% auto;
  font-size: 1.5rem;
  font-family: "Brown Std";
  padding-left: 3%;
  padding-right: 3%;
}

#race-bg {
  background-color: #DDE4EF;
  margin-bottom: 5px;
}

.fondo-content {
  font-size: 1.5rem;
  font-family: "Brown Std";
  padding-left: 3%;
  padding-right: 3%;
}

#fondo-bg {
  background-color: #DDE4EF;
  margin-bottom: 5px;
}

.table {
  /*background: #C39BBC;*/
  width: 100%;
  margin: 5% auto;
  float: none;
  font-family: "Brown Std", sans-serif;
}

thead {
  background: rgb(195,155,188);
}

tbody {
 background: #CAACC9;
}

/*----- Event Info -----*/
.event-heading {
  padding-left: 3%;
  background: rgb(116,179,75);
  font-family: "Futura-Bold", sans-serif;
  font-size: 3.5rem;
  margin-bottom: 5px;
}

.event-content {
  margin: 1% auto;
  font-size: 1.5rem;
  font-family: "Brown Std", sans-serif;
  padding-left: 3%;
  padding-right: 3%;
}

.fondo-img {
  max-height: 400px;
  width: 100%
}

#event-bg
{
  background: #D5E8CA; /*rgb(116,179,75, 30%)*/
  margin-bottom: 5px;
}

/*----- Feist Weiller Heading -----*/
.fw-heading {
  padding-left: 3%;
  background: rgb(70, 50, 145);
  font-family: "Futura-Bold", sans-serif;
  font-size: 3.5rem;
  margin-bottom: 5px;
}

.fw-content {
  margin: 1% auto;
  font-size: 1.5rem;
  font-family: "Brown Std", sans-serif;
  padding-left: 3%;
  padding-right: 3%;
}

.fw-img {
  border: 3px solid white;
  /*max-height: 350px;*/
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2%;
}

#fw-bg {
  background: #C7C1DE; /*rgb(70, 50, 145, 30%)*/
  margin-bottom: 5px;
}

/*----- Contact Info Heading -----*/
.contact-heading {
  padding-left: 3%;
  background: rgb(211, 147, 40);
  font-family: "Futura-Bold", sans-serif;
  font-size: 3.5rem;
  margin-bottom: 5px;
}

.contact-content {
  margin: 1% auto;
  font-size: 1.5rem;
  font-family: "Brown Std", sans-serif;
  padding-left: 3%;
  padding-right: 3%;
}

#contact-bg {
  background: #F2DFC2; /*rgb(211, 147, 40, 30%)*/
  margin-bottom: 5px;
}

/*----- Giving Heading -----*/
.giving-heading {
  padding-left: 3%;
  background: rgb(128,128,128);
  font-family: "Futura-Bold", sans-serif;
  font-size: 3.5rem;
  margin-bottom: 5px;
}

.giving-content {
  margin: 1% auto;
  font-size: 1.5rem;
  font-family: "Brown Std", sans-serif;
  padding-left: 3%;
  padding-right: 3%;
}

#giving-bg {
  background: #D9D9D9; /*rgb(128,128,128, 30%)*/
  margin-bottom: 5px;
}

/*----- Footer -----*/ 
.footer {
  bottom: 0;
  width: 100%;
  color: #D39328;
  border-top: solid 5px #D39328;
  background-color: #791F62;
  font-family: "Futura-Bold", sans-serif;
  font-size: 1.325rem;
}

/* Style all font awesome icons */
.fa {
    font-size: 100px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook, .fa-twitter, .fa-instagram {
  color: white;
}

#fb, #tw, #ig {
  font-size: 1.5rem;
  /*margin-top: 70px;*/
}

#ig {
  margin-right: 10px;
}

@media (max-width: 1312px)
{
  /*.fa {
    width: 250px;
    margin-top: 10px;
    margin-left: 20px;
  }*/
}

@media (max-width: 1156px)
{
  /*.fa {
    width: 200px;
  }*/
}

@media (max-width: 991px)
{
  .table {
    margin-top: 0px;
    /*font-size: .95rem;*/
  }
  .crit-text {
    font-size: 1.25rem;
  }
  .race-heading, .event-heading, .fw-heading, .giving-heading, .contact-heading {
    font-size: 3.00rem;
  }

  .race-content, .event-content, .fondo-content, .fw-content, .giving-content, .contact-content {
    font-size: 1.1rem;
  }

  .section-header {
    font-size: 1.3rem;
  }

  .fw-img {
    margin-top: 15px;
  }
  /*.fa {
    margin-left: 5px;
    margin-top: 10px;
  }*/
  .nav-link {
    font-size: .80rem;
  }
  .register-btn {
    font-size: .75rem;
  }
}

@media (max-width: 576px)
{
  .nav-link {
    border-right: none;
  }
  .race-heading, .event-heading, .fw-heading, .giving-heading, .contact-heading {
    font-size: 2.50rem;
  }

  .race-content, ,.event-content, .fondo-content, .fw-content, .giving-content, .contact-content {
    font-size: .9rem;
  }

  .section-header {
    font-size: 1.1rem;
  }

  .top-span {
    font-size: 1.0rem;
  }
}
